@font-face {
  font-family: Chillow;
  src: url("../fonts/Chillow.otf");
}

/* GENERIC */

#game {
  background-color: #000;
  border-radius: 20px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.div-row {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0;
}

img {
  display: inline-block;
}

.rounded {
  border-radius: 4px !important;
}

.dealt {
  width: 9.5vh;
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  border: 1px solid #e2d9d5;
  height: fit-content;
  border-radius: 4px;
  padding-right: inherit !important;
  padding-left: inherit !important;
}

.marg-b {
  padding-bottom: 100px;
}

.marg-t {
  padding-top: 20px;
}

#dealer-info {
  display: none;
}

#player-info {
  font-family: Chillow;
  color: #fff;
  white-space: pre;
}

a.btn {
  padding: 10px 50px;
  margin-bottom: 0;
  line-height: 1;
}

.btn-outline-light,
.btn-outline-dark {
  border-radius: 50px;
  border: 3px solid;
  font-family: Chillow;
  font-size: 18px;
}

.btn-outline-dark {
  border: 3px solid #000;
  color: #000;
}

.btn-outline-dark:hover {
  background-color: #000;
  border: 3px solid #000;
}

/* HIT CARD DECK */

.card-effect {
  position: relative;
  cursor: pointer;
  max-width: 8.5vh;
  margin: 60px auto;
  transform: rotate(-45deg);
}

.card-effect::before,
.card-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-effect::before,
.card-effect::after,
.card-effect .card-effect-inner {
  background-color: #fff;
  border: 1px solid #e2d9d5;
  border-radius: 5px;
  transition: transform 0.3s;
}

.card-effect::before,
.card-effect-inner {
  z-index: 1;
}

.card-effect-inner {
  position: relative;
}

.card-bottom-right::before {
  transform: translate(calc(8px), 8px);
}

.card-bottom-right::after {
  transform: translate(calc(16px), 16px);
}

.card-bottom-right:hover::before,
.card-bottom-right:hover::after,
.card-bottom-right:hover .card-effect-inner {
  transform: translate(calc(8px), 0);
}

/* POP UPS */

.player-lose,
.dealer-lose,
.dealer-win {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.player-lose.visible,
.dealer-lose.visible,
.dealer-win.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #8b001b;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  font-family: Chillow;
  color: #fff;
  padding-bottom: 10px;
}

.modal p {
  color: #fff;
  padding-bottom: 10px;
}

.dealer-final {
  color: #000 !important;
  font-family: Chillow;
  padding-bottom: 0;
  padding: 20px 50px;
  border: 1px dashed #fff;
}

.player-final {
  font-family: Chillow;
  padding: 20px 50px;
  border: 1px dashed #fff;
}

.marg-t2 {
  padding-top: 100px;
}

/* MEDIA QUERIES */

@media (max-width: 1400px) {
  .btn,
  #player-info {
    font-size: 14px;
  }

  .title {
    flex: 2 0 0%;
  }

  a.btn {
    padding: 10px 35px;
  }
}

@media (max-width: 1200px) {
  a.btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  #player-info {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  #game {
    border-radius: 0;
  }

  .container-xxl {
    max-width: 100vw !important;
    --bs-gutter-x: 0;
  }

  body {
    background-color: #000;
  }
}

@media (max-width: 768px) {
  .ingame {
    max-width: 85% !important;
  }
}

@media (max-width: 576px) {
  a.btn {
    padding: 10px 15px;
    font-size: 10px;
  }

  #player-info {
    font-size: 10px;
  }

  .dealt {
    width: 8.5vh !important;
  }

  .card-effect {
    max-width: 7.5vh;
  }

  .modal h2 {
    font-size: 14px;
  }

  .modal p {
    font-size: 10px;
  }

  .marg-t2 {
    padding-top: 50px;
  }
}
